.landingPage {
  header {
    margin: 4px 0;
    height: 215px;
    width: 100%;
    position: relative;
    // background: url("../../assets/Rectangle_6.png") no-repeat;
    background-size: contain;
    h1 {
      margin-bottom: $space-s;
      padding: $padding-m;
      font-size: 37px;
      line-height: 45px;
    }
  }
  .headerElement {
    padding: $padding-l;
    background-color: $bg-pink;
    height: 145px;
    .headerLink {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: $space-s;
    }
    a {
      text-decoration: none;
      color: $white;
    }
    span {
      color: $white;
    }
  }
}
