$padding-m: 24px;
$padding-l: 42px;
$padding-xl: 109px;
$space-s: 14px;
$space-m: 20px;
$space-l: 34px;
$white: #fff;
$bg-pink: #f25ba8;
$green: #3baf8a;
$dark-green: #1d5745;
$grey: #7a7a7a;
$black: #000;
.h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: $black;
}
.h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: $black;
}
.h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: $dark-green;
}
.h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: $black;
}
.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: $green;
}
.span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: $grey;
}
.p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $grey;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}
